body {
    text-align: center;
    background: #333745;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}

main {
    font-size: 10vmin;
    color: #E63462;
}

canvas {
    border: 2px solid black;
    background: white;
}

section {
    font-size: 2.5vmin;
}

#score {
    font-size: 3vmin;
    color: #E63462;
}

button {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3vmin;
    margin-top: 1vmin;
}

button:hover {
    background-color: #E63462;
}